.answerContainer{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s, padding-bottom 0.15s;
}
.answerContainer.show{
  max-height: 1000px;
  overflow: none;
}
.faqContainer:hover .questionText{
  filter: brightness(450%)
}