@media(min-width: 0px){
  main{
    width: 90%;
    left: 5%;
  }
  #backgroundArtContainer{
    background-image: url(../assets/images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  header{
    grid-template-columns: 25px 1fr;
  }
  .answerText{
    font-size: 0.91rem;
    line-height: 1.25rem;
  }
  .answerContainer.show{
    padding-bottom: 1.25rem;
  }
}
@media(min-width: 768px){
  main{
    width: 40%;

    left: 32%;
  }
  #backgroundArtContainer{
    background-image: url(../assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  header{
    grid-template-columns: 35px 1fr;
  }
  h1{
    font-size: min(4vw, 3rem);
  }
  .questionText{
    font-size: 1.15rem;
  }
  .answerText{
    font-size: 1.02rem;
    line-height: 1.35rem;
  }
  .answerContainer.show{
    padding-bottom: 1.75rem;
  }
}

body{
  min-height: 100svh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;

  background-color: var(--purple-100);
  position: relative;
}
#mobileBackgroundArt{
  width: 100%;
  height: auto;
}
main{
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;

  position: absolute;
  top: min(20%, 20vh);
  
  color: var(--purple-950);
}
header{
  display: grid;
  align-items: center;
  gap: 1.5rem;

  margin-bottom: 1.25rem;
}
#faqStarIcon{
  width: 100%;
  height: auto;
}

.allFAQContainer{
  display: flex;
  flex-direction: column;
}
.faqContainer{
  display: flex;
  flex-direction: column;

  padding-top: 1.25rem;

  gap: 1.25rem;
  cursor: pointer;
}
.questionContainer{
  display: grid;
  grid-template-columns: 1fr 30px;
  align-items: center;

  gap: 1.6rem;
}
.questionText{
  font-weight: 600;
  transition: filter 0.15s;
}
.faqInteractionIconContainer{
  width: 30px;
  height: 30px;
}

.answerText{
  color: var(--purple-600);
}